asttokens
backcall
colorama
comm
cycler
debugpy
decorator
executing
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
typing-extensions
wcwidth
zipp
